<a href="https://colab.research.google.com/github/festeban11/Minor-Machine-Learning/blob/main/ProyectoFinal%E2%80%93HumanActivityRecognition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyecto Final – Human Activity Recognition

**Nombre:** Fernando Ibacache Carrión

**1. Problema:** Clasificar actividades humanas a partir de datos 
provenientes de sensores.

**2. Hipótesis:** Es posible reconocer la actividad humana a partir de sensores con métricas de rendimiento superior de 95%.

**3. Solución:** Se propone una investigación e implementación de tres modelos de clasificación; Support Vector Machine (SVM), Random Forest y Extreme Gradient Boosting (XGBoost). Todos los modelos usarán las mismas validaciones, en problemas de clasificación las métricas de rendimiento más utilizadas son: Accuracy (ACC), Precision (P), Recall (R), F1 score(F1) y Area Under Crurve (AUC).

### Semana 14/11: Paso Obtain

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
columns = ['user','activity','timestamp', 'x-accel', 'y-accel', 'z-accel']
df = pd.read_csv('drive/MyDrive/WISDM_at_v2.0_raw.txt', header = None, names = columns, low_memory=False)
df.head()

   user activity      timestamp   x-accel   y-accel       z-accel
0  1679  Walking  1370520469556  0.294132 -0.635605  -0.22693644;
1  1679  Walking  1370520469606 -0.499688 -0.604451  -0.22602014;
2  1679  Walking  1370520469656 -2.178345  0.713491   0.37201694;
3  1679  Walking  1370520469706 -2.797763  1.354899  -0.27763826;
4  1679  Walking  1370520469756 -2.167961 -1.327716   -0.5549711;

*   user: código asignado al usuario
*   activity: actividad realizada (Walking, Jogging, Sitting, Standing,Upstairs, Downstairs)
* timestamp: marca de tiempo (tiempo en milisegundos a través del tiempo unix)
* x-accel: aceleración en la dirección x medida por el acelerómetro del teléfono android en m/(s^2).
* y-accel: aceleración en la dirección y medida por el acelerómetro del teléfono android en m/(s^2).
* z-accel: aceleración en la dirección z medida por el acelerómetro del teléfono android en m/(s^2).

In [ ]:
df.shape

(3005411, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3005411 entries, 0 to 3005410
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   user       int64
 1   activity   object
 2   timestamp  object
 3   x-accel    float64
 4   y-accel    float64
 5   z-accel    object
dtypes: float64(2), int64(1), object(3)
memory usage: 137.6+ MB