<a href="https://colab.research.google.com/github/festeban11/Minor-Machine-Learning/blob/main/Tareas/3_foldCV_Penguin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## **3-fold CV para Penguin dataset**

En esta tarea corta, usted debe investigar el dataset penguin (“penguins_size.csv” )

https://www.kaggle.com/parulpandey/penguin-dataset-the-new-iris

Se pide: 

* Crear un script python para clasificar las especies de pingüinos.

* Usar la clasificación a través de KNN (ver clases grabadas y links del libro estudiado)

* Usar validación cruzada de 10 "folds" (ver clases grabadas y links del libro estudiado)

* Reportar la certeza promedio resultante

* Incluir en la descripción un link a google colab que contiene el script en python (por favor no adjuntar archivos)

Códigos extraídos de https://www.kaggle.com/code/pashmeenkaur/penguin-dataset-knn/notebook

In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('drive/MyDrive/penguins_size.csv')
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

Valores perdidos

In [ ]:
df.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

Reemplazar valores perdidos

In [ ]:
from sklearn.impute import SimpleImputer
#se utiliza la estrategia de los valores más frecuentes en las columnas del dataset 
imputer = SimpleImputer(strategy='most_frequent')
df.iloc[:,:] = imputer.fit_transform(df)
df.isnull().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

Convertir valores categóricos

In [ ]:
#se convierten los valores de las columnas island y sex 
df=pd.get_dummies(df,columns=['island', 'sex'],drop_first=True)
df.head()

,species,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Dream,island_Torgersen,sex_FEMALE,sex_MALE
0,Adelie,39.1,18.7,181.0,3750.0,0,1,0,1
1,Adelie,39.5,17.4,186.0,3800.0,0,1,1,0
2,Adelie,40.3,18.0,195.0,3250.0,0,1,1,0
3,Adelie,41.1,17.0,190.0,3800.0,0,1,0,1
4,Adelie,36.7,19.3,193.0,3450.0,0,1,1,0

Estandarizar datos

In [ ]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
scale.fit(df.drop(['species'],axis=1)) #se elimina columna species
transformed=scale.transform(df.drop(['species'],axis=1))
df_scaled=pd.DataFrame(transformed,columns=df.columns[1:])
df_scaled.head()

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Dream,island_Torgersen,sex_FEMALE,sex_MALE
0,-0.883375,0.788176,-1.415471,-0.562452,-0.750757,2.36968,-0.960098,0.965704
1,-0.809845,0.127001,-1.058960,-0.499877,-0.750757,2.36968,1.041561,-1.035514
2,-0.662785,0.432159,-0.417242,-1.188208,-0.750757,2.36968,1.041561,-1.035514
3,-0.515725,-0.076437,-0.773752,-0.499877,-0.750757,2.36968,-0.960098,0.965704
4,-1.324555,1.093334,-0.559846,-0.937906,-0.750757,2.36968,1.041561,-1.035514

Se dividen los datos para el entrenamiento y el testing

In [ ]:
X=df_scaled
y=df['species']

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=101)

Clasificación a través de KNN, se genera el modelo y se revisa su precisión con la métrica Accuracy

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn=KNeighborsClassifier(n_neighbors=1)

knn.fit(x_train,y_train)
out=knn.predict(x_test)

accuracy_score(y_test, out)

1.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Validación cruzada de 10 "folds"

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn, X, y, cv=10)

Certeza promedio resultante

In [ ]:
scores.mean()

0.9856302521008404